{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Renshuu | Profile
{% endblock %}

{% block content %}
   <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">Email: {{ user.email }}</p>
          <p class="text-secondary">Level: {{ user.profile.level }}</p>
          <p class="text-secondary">EXP: {{ user.profile.exp }}</p>
        </div>
      </div>
      <details>
          <style>
            details > summary {
              list-style: none;
            }
            details > summary::-webkit-details-marker {
              display: none;
            }
          </style>
          <summary><p class="btn btn-primary" type="submit">Change profile info</p></summary>
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
              {{ u_form|crispy }}
              {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
            </form>
      </details>
   </div>
{% endblock %}
