{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Renshuu | Registration
{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Dictionary</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary mt-2" type="submit">Confirm</button>
            </div>
        </form>
    </div>
{% endblock %}



