{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Renshuu | Practice
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <legend class="m-2 mt-0">My Dictionaries</legend>
        <a type="button" href="{% url 'dictionary-create' %}" class=" btn btn-primary text-light text-decoration-none m-2">
            <img src="{% static 'icons/add.png' %}" height="20" width="20" class="mb-1">
            Create new dictionary
        </a>
    {% endif %}
    {% if dicts %}
        <div class="d-flex flex-row justify-content-start flex-wrap">
        {% for el in dicts %}
            {% if el.creator == user %}
            <div class="alert alert-primary m-2 ">
                    <h3><a href="{% url 'dictionary-detail' el.id %}" class="text-body text-decoration-none">{{ el.name }}</a></h3>
                    <small>Created: {{ el.created }}</small><br>
                    <small>rate: {{ el.rate }}</small>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        <legend class="m-2">Community Dictionaries</legend>
        <div class="d-flex flex-row justify-content-start flex-wrap">
            {% for el in dicts %}
                {% if el.creator != user %}
                <div class="alert alert-primary m-2 ">
                        <h3><a href="{% url 'dictionary-detail' el.id %}" class="text-body text-decoration-none">{{ el.name }}</a></h3>
                        <small>Created: {{ el.created }}</small><br>
                        <small>by: {{ el.creator }}</small><br>
                        <small>rate: {{ el.rate }}</small>
                </div>
                {% endif %}
            {% endfor %}
            </div>
    {% else %}
        <p class="m-2">No dictionaries yet.</p>
    {% endif %}
{% endblock %}