{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Renshuu | Registration
{% endblock %}

{% block content %}
    <div class="content-section">
        <a type="button" href="{% url 'practice' %}" class=" btn btn-primary text-light text-decoration-none">< Back</a>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group w-25">
                <legend class="mb-2">New card</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary mt-2" type="submit" >Confirm</button>
            </div>
        </form>
    </div>
{% endblock %}



