{% extends 'main/base.html' %}
{% block title %}
Renshuu | Lessons
{% endblock %}

{% block content %}
    <legend class="m-2 mt-0">Lessons Hub</legend>
    {% if user.is_authenticated %}
        <a type="button" href="" class=" btn btn-primary text-light text-decoration-none m-2">Create new lesson</a>
    {% endif %}
   {% for el in lessons %}
        <article class="media content-section border m-2">
          <div class="media-body m-2">
            <legend class="article-title">{{ el.title }}</legend>
            <div class="article-metadata">
              <small class="alert-info p-1">{{el.tag.tag_name}}</small>
              <small class="text-muted">{{ el.date_created|date:"H:i F d, Y" }}</small>
                <small>by: <a class="mr-2" href="#">{{ el.author }}</a></small>
                <img class="rounded-circle" width="30" height="30" src="{{ el.author.profile.image.url }}">
            </div>
            <p class="article-content border-top mt-2">{{ el.content }}</p>
          </div>
        </article>
   {% endfor %}
{% endblock %}